.about_container{
  display: flex;
  flex-direction: row;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #cfcece85;
  margin-bottom: 48px;
  min-height: 350px;
  align-items: center;
}

.about_left{
  width: 40%;
  font-size: 57px;
  margin-right: 36px;
  padding: 24px;
}
.about_right{
  width: 60%;
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 16px;
}
