.hero{
  padding-bottom: 48px;
}
.hero_container{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 350px;
  display: flex;
  align-items: center;
}

.hero_content__container{
  background-color: #ffffff;
  opacity: 0.80;
  width: 60%;
  padding: 24px;
}

.hero_content__title a{
  color: #000000;
  text-decoration: none;
}

.hero_content__text{
  color: #000000;
  text-decoration: none;
  margin-top: 24px;
  display: block;
}

.hero_content__button{
  margin-top: 16px;
  display: inline-block;
}
